<header>
<nav class="nav-bar">
     <% if user_signed_in? %>
    <li><%= link_to 'Home', users_path%></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path%></li>
    <li><%= link_to 'Edit Profile', edit_user_registration_path%></li>
    <% else %>
 
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Log In', new_user_session_path, method: :delete %></li>
    <% end %>
   
</nav>
</header>