<!DOCTYPE html>
<html>
  <head>
    <title>ROR Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="author" content="https://www.linkedin.com/in/ritobroto-m3">
    <meta name="description" content="It's a simple blog application developed using ROR">
  </head>

  <body>
    <%= yield %>
  </body>
</html>